/* src/index.css */
body {
  margin: 0;
  padding: 0;
  background-image: url('../public/backgrounds/react-background-animations.gif');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-color: #f1deb7;
  font-family: 'Merriweather', serif;
}

.background-overlay {
  background: rgba(255, 255, 255, 0.7); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
